:root {
    --space: 1rem;
    --border: 4px;
    --page-width: 80ch;
    --font-family: "Helvetica", sans-serif;
    --color-link: black;
    --color-active: royalblue;
    --ease: cubic-bezier(0.23, 1, 0.32, 1);
    --duration: 350ms;
    --section-offset: 0;
}

* {
    box-sizing: border-box;
}

html {
    --scroll-behavior: smooth;
    scroll-behavior: var(--scroll-behavior);
}

@media (prefers-reduced-motion: reduce) {
    html {
        --scroll-behavior: auto;
    }
}

body {
    font-family: var(--font-family);
    line-height: 1.5;
}

h1,
h2,
h3 {
    font-weight: bold;
    line-height: 1.25;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.5rem;
}

ul:not(.menu) {
    list-style-type: disc;
    margin-left: var(--space);
}

ul:not(.menu)>li+li {
    margin-top: var(--space);
}

.nav-sections {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: inset lightgray 0 -1px 0, rgba(0, 0, 0, 0.15) 0 3px 10px 0;
    z-index: 100;
}

.nav-sections .menu {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin: 0 auto;
    max-width: var(--page-width);
    transform: translateZ(0);
    transition: transform var(--ease) var(--duration);
}

.nav-sections .menu::-webkit-scrollbar {
    display: none;
}

.nav-sections .menu-item-link {
    display: block;
    padding: calc(var(--space) * 0.8) var(--space);
    text-decoration: none;
    white-space: nowrap;
    color: var(--color-link);
    transition: color var(--ease) var(--duration);
}

.nav-sections .menu-item-link.active {
    color: var(--color-active);
}

.active-line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: var(--color-active);
    transition: width var(--ease) var(--duration), transform var(--ease) var(--duration);
}

.placeholder-section {
    align-items: center;
    height: 240vh;
    background-color: rgb(255, 255, 255);
}


/*  height: 120vh; */

.page-sections {
    margin: 0 auto;
    max-width: var(--page-width);
}

.page-section {
    margin: calc(var(--space) * 2) 0;
    padding: calc(var(--space) * 2) var(--space);
}

.page-section>*+* {
    margin-top: calc(var(--space) * 1.5);
}

.section-title {
    outline: none;
}

.section-title:before {
    content: "";
    display: block;
    visibility: hidden;
    pointer-events: none;
    margin-top: calc(var(--section-offset) * -1px);
    height: calc(var(--section-offset) * 1px);
}


/* Scroll post */

div.scrollmenu-postnew {
    overflow: auto;
    white-space: nowrap;
    width: 100%;
    text-align: center;
    color: #0a4461;
    background-color: #0a4461;
    transition: all 0.3s ease;
}

div.scrollmenu-postnew i {
    display: inline-block;
    text-align: center;
    padding: 0px 0;
    transition: all 0.3s ease;
}

div.scrollmenu-postnew p {
    text-align: left;
    margin-top: 0vw;
}

div.scrollmenu-postnew p:hover {
    text-align: center;
    margin-top: 0vw;
    transition: all 0.3s ease;
    color: black;
}

.shrink-text .a-shrink-text {
    display: flex;
    font-size: 40px;
    color: #000000;
    text-decoration: unset;
    align-items: center;
    text-align: center;
    font-weight: 600;
}

.shrink-text .a-shrink-text:hover {
    display: flex;
    font-size: 40px;
    color: #000000;
    text-decoration: unset;
}

.span-shrink-text:nth-child(even) {
    overflow: hidden;
    letter-spacing: -1em;
    transition: letter-spacing 0.5s linear;
}

.shrink-text a:hover .span-shrink-text:nth-child(even) {
    letter-spacing: 0;
}

.Maven {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 600;
}