img {
    margin: 0 auto;
}

.popup {
    width: 100%;
    position: fixed;
    overflow: hidden;
    bottom: 0;
    left: 0;
    transition: all 1s ease;
}

.popup .popup-container {
    height: 80px;
}

.popup-active {
    overflow: hidden;
}

.popup-active .popup {
    height: 100%;
    width: 100%;
}

.popup-active .popup-form {
    top: 0;
    height: calc(100% - 49px);
}

.popup-active .popup-form * {
    opacity: 1;
}

.popup-active .popup-form {
    top: 0;
}

.popup-form {
    position: absolute;
    top: 100%;
    width: 100%;
    color: #252525;
    padding: 15px;
    transition: all 0.5s ease;
    background: #e0e0e0;
}

.popup-form form {
    margin-top: 30px;
}

.popup-form input {
    margin-bottom: 15px;
}

.popup-form * {
    opacity: 0;
    transition: all 0.5s ease;
    transition-delay: 0.5s;
}

.popup-close {
    display: inline-block;
    padding: 5px 10px;
    background: #252525;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
}

.cta {
    background: #F65D7C;
    color: #fff;
    padding: 15px;
    position: fixed;
    cursor: pointer;
    bottom: 0;
    width: 100%;
}

.cta p {
    margin: 0;
}

.cta.newsletter-attention {
    -webkit-animation: newsletter-attention 1s infinite;
    /* Safari 4+ */
    /* Fx 5+ */
    /* Opera 12+ */
    animation: newsletter-attention 1s infinite;
    /* IE 10+, Fx 29+ */
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
}

@-webkit-keyframes newsletter-attention {
    0% {
        padding: 15px;
        background: #F65D7C;
    }
    8% {
        padding: 15px;
        background: #F65D7C;
    }
    11% {
        padding: 25px 15px;
        background: #f8849b;
    }
    13% {
        padding: 10px;
        background: #F65D7C;
    }
    15% {
        padding: 15px;
        background: #F65D7C;
    }
    17% {
        padding: 12px;
        background: #F65D7C;
    }
    19% {
        padding: 15px;
        background: #F65D7C;
    }
    100% {
        padding: 15px;
    }
}

@keyframes newsletter-attention {
    0% {
        padding: 15px;
        background: #F65D7C;
    }
    8% {
        padding: 15px;
        background: #F65D7C;
    }
    11% {
        padding: 25px 15px;
        background: #f8849b;
    }
    13% {
        padding: 10px;
        background: #F65D7C;
    }
    15% {
        padding: 15px;
        background: #F65D7C;
    }
    17% {
        padding: 12px;
        background: #F65D7C;
    }
    19% {
        padding: 15px;
        background: #F65D7C;
    }
    100% {
        padding: 15px;
    }
}

.container-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-name .box {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-name .box .title {
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
}

.container-name .box .title .block {
    width: 0%;
    height: inherit;
    /*  
    background: linear-gradient(45deg, #042461 0%, rgba(225, 5, 34, 0) 70%), linear-gradient(135deg, #340447 10%, rgba(49, 5, 209, 0) 80%), linear-gradient(225deg, #0f053a 10%, rgba(10, 219, 216, 0) 80%), linear-gradient(315deg, #050813 100%, rgba(9, 245, 5, 0) 70%);
    background: linear-gradient( to right, #e91e63, #d4232c, #ce6f30, #e9d51e, #23d458, #1ec0e9, #981ee9, #23d458, #1ea9e9); */
    background-position: center 0%;
    animation: background-slide 1s infinite linear;
    position: absolute;
    animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    display: flex;
}

.container-name .box .title h1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    -webkit-animation: mainFadeIn 2s forwards;
    -o-animation: mainFadeIn 2s forwards;
    animation: mainFadeIn 2s forwards;
    animation-delay: 1.6s;
    opacity: 0;
    display: flex;
    align-items: baseline;
    position: relative;
}

.container-name .box .title h1 span {
    width: 0px;
    height: 0px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #017db0;
    -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation-delay: 2s;
    margin-left: 5px;
    margin-top: -15px;
    position: absolute;
    bottom: 33px;
    right: -12px;
}

.container-name .box .role {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: -10px;
}

.container-name .box .role .block {
    width: 0%;
    height: inherit;
    background: linear-gradient( to right, #e91e63, #d4235e, #ce3065, #e91e63, #d4235e, #e91e63);
    background-position: center 0%;
    animation: background-slide 1s infinite linear;
    position: absolute;
    animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation-delay: 2s;
    display: flex;
}

.container-name .box .role p {
    animation: secFadeIn 2s forwards;
    animation-delay: 3.2s;
    opacity: 0;
    font-weight: 800;
    font-family: "Lato";
    color: #ddcccc;
    font-size: 20px;
    letter-spacing: 6px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 33px;
}

@keyframes mainBlock {
    0% {
        width: 0%;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes secBlock {
    0% {
        width: 0%;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes mainFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes popIn {
    0% {
        width: 0px;
        height: 0px;
        background: #ffb510;
        opacity: 0;
    }
    50% {
        width: 10px;
        height: 10px;
        background: #ffb510;
        opacity: 1;
        bottom: 45px;
    }
    65% {
        width: 7px;
        height: 7px;
        bottom: 0px;
        width: 15px;
    }
    80% {
        width: 10px;
        height: 10px;
        bottom: 20px;
    }
    100% {
        width: 7px;
        height: 7px;
        background: #ffb510;
        bottom: 13px;
    }
}

@keyframes secFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}


/* small */

@media (max-width:600px) {
    .container-name .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container-name .box .title {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container-name .box .title .block {
        width: 0%;
        height: inherit;
        background: linear-gradient(45deg, #042461 0%, rgba(225, 5, 34, 0) 70%), linear-gradient(135deg, #340447 10%, rgba(49, 5, 209, 0) 80%), linear-gradient(225deg, #0f053a 10%, rgba(10, 219, 216, 0) 80%), linear-gradient(315deg, #050813 100%, rgba(9, 245, 5, 0) 70%);
        /*   background: linear-gradient( to right, #e91e63, #d4232c, #ce6f30, #e9d51e, #23d458, #1ec0e9, #981ee9, #23d458, #1ea9e9); */
        background-position: center 0%;
        animation: background-slide 1s infinite linear;
        position: absolute;
        animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
    }
    .container-name .box .title h1 {
        color: rgb(0, 0, 0);
        font-size: 28px;
        -webkit-animation: mainFadeIn 2s forwards;
        -o-animation: mainFadeIn 2s forwards;
        animation: mainFadeIn 2s forwards;
        animation-delay: 1.6s;
        opacity: 0;
        display: flex;
        align-items: baseline;
        position: relative;
        align-items: center;
        justify-content: center;
    }
    .container-name .box .title h1 span {
        width: 0px;
        height: 0px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background: #017db0;
        -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        animation-delay: 2s;
        position: absolute;
        align-items: center;
        justify-content: center;
    }
    .container-name .box .role {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
    }
    .container-name .box .role .block {
        width: 0%;
        background: linear-gradient( to right, #e91e63, #d4235e, #ce3065, #e91e63, #d4235e, #e91e63);
        background-position: center 0%;
        animation: background-slide 1s infinite linear;
        position: absolute;
        animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        animation-delay: 2s;
        display: flex;
    }
    .container-name .box .role p {
        animation: secFadeIn 2s forwards;
        animation-delay: 3.2s;
        opacity: 0;
        font-weight: 800;
        word-spacing: 0px;
        letter-spacing: 0px;
        /*  line-height: 1.5px; */
        align-items: center;
    }
    @keyframes mainBlock {
        0% {
            width: 0%;
            left: 0;
        }
        50% {
            width: 100%;
            left: 0;
        }
        100% {
            width: 0;
            left: 100%;
        }
    }
    @keyframes secBlock {
        0% {
            width: 0%;
            left: 0;
        }
        50% {
            width: 100%;
            left: 0;
        }
        100% {
            width: 0;
            left: 100%;
        }
    }
    @keyframes mainFadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes popIn {
        0% {
            width: 0px;
            height: 0px;
            background: #ffb510;
            opacity: 0;
        }
        50% {
            width: 10px;
            height: 10px;
            background: #ffb510;
            opacity: 1;
            bottom: 45px;
        }
        65% {
            width: 7px;
            height: 7px;
            bottom: 0px;
            width: 15px;
        }
        80% {
            width: 10px;
            height: 10px;
            bottom: 20px;
        }
        100% {
            width: 7px;
            height: 7px;
            background: #ffb510;
            bottom: 13px;
        }
    }
    @keyframes secFadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 0.5;
        }
    }
}

.confetti {
    transition: all .2s;
}

.confetti:active {
    transform: scale(.6);
}

.negro {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.negro:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.cta {
    background: #ff0033;
    color: #fff;
    padding: 15px;
    position: fixed;
    cursor: pointer;
    bottom: 0;
    width: 100%;
}

.cta p {
    margin: 0;
}

.cta.newsletter-attention {
    -webkit-animation: newsletter-attention 1s infinite;
    /* Safari 4+ */
    /* Fx 5+ */
    /* Opera 12+ */
    animation: newsletter-attention 1s infinite;
    /* IE 10+, Fx 29+ */
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
}

@-webkit-keyframes newsletter-attention {
    0% {
        padding: 15px;
        background: #F65D7C;
    }
    8% {
        padding: 15px;
        background: #F65D7C;
    }
    11% {
        padding: 25px 15px;
        background: #f8849b;
    }
    13% {
        padding: 10px;
        background: #F65D7C;
    }
    15% {
        padding: 15px;
        background: #F65D7C;
    }
    17% {
        padding: 12px;
        background: #F65D7C;
    }
    19% {
        padding: 15px;
        background: #F65D7C;
    }
    100% {
        padding: 15px;
    }
}

@keyframes newsletter-attention {
    0% {
        padding: 15px;
        background: #F65D7C;
    }
    8% {
        padding: 15px;
        background: #F65D7C;
    }
    11% {
        padding: 25px 15px;
        background: #f8849b;
    }
    13% {
        padding: 10px;
        background: #F65D7C;
    }
    15% {
        padding: 15px;
        background: #F65D7C;
    }
    17% {
        padding: 12px;
        background: #F65D7C;
    }
    19% {
        padding: 15px;
        background: #F65D7C;
    }
    100% {
        padding: 15px;
    }
}

.shake {
    position: relative;
    color: #fff;
    -webkit-animation: custom-shake 3s ease-in-out 5s infinite;
    animation: custom-shake 3s ease-in-out 3s infinite;
    -webkit-transform: translate(0) rotate(0deg);
    -webkit-transform-origin: bottom;
    transform: translate(0) rotate(0deg);
    transform-origin: bottom;
    text-align: center;
}

@keyframes custom-shake {
    0% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(0deg);
    }
    85% {
        transform: rotate(1deg);
    }
    95% {
        transform: rotate(-1deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.background-azul {
    background: linear-gradient(to right, #070707, #060124, #0d053b, #090329, #000000);
    height: 100%;
    width: 100%;
    color: grey;
}

.background-icon-black-1B1C24 {
    justify-content: center;
    gap: 2rem;
    padding: 3rem;
    background-color: #1B1C24;
    background-image: url("img/lamp-icon-black-1B1C24.svg");
    /*  background-color: #1086B5; 
background-image: url("lamp-icon.svg"); */
    align-items: center;
    text-align: center;
}

@media (max-width: 767px) {
    .modal-fullscreen-xs-down {
        padding: 0 !important;
    }
    .modal-fullscreen-xs-down .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .modal-fullscreen-xs-down .modal-content {
        height: auto;
        min-height: 100%;
        border: 0 none;
        border-radius: 0;
        box-shadow: none;
    }
}

@media (max-width: 991px) {
    .modal-fullscreen-sm-down {
        padding: 0 !important;
    }
    .modal-fullscreen-sm-down .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .modal-fullscreen-sm-down .modal-content {
        width: 100%;
        height: 100%;
        min-height: 100%;
        border: 0 none;
        border-radius: 0;
        box-shadow: none;
    }
}

@media (max-width: 1199px) {
    .modal-fullscreen-md-down {
        padding: 0 !important;
    }
    .modal-fullscreen-md-down .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .modal-fullscreen-md-down .modal-content {
        height: auto;
        min-height: 100%;
        border: 0 none;
        border-radius: 0;
        box-shadow: none;
    }
}

.modal-fullscreen {
    padding: 0 !important;
}

.modal-fullscreen .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.modal-fullscreen .modal-content {
    height: auto;
    min-height: 100%;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
}

.btn-open-modal {
    margin-bottom: 0.5em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.hero {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/tt_tailwind_bg.jpg');
    background-size: cover;
}

.h-112 {
    height: 28rem;
}

.lg\:-mt-24 {
    margin-top: -6rem;
}

.h-20 {
    height: 5rem;
}

.w-20 {
    width: 5rem;
}

.w-1\/8 {
    width: 12.5%;
}

.w-7\/8 {
    width: 87.5%;
}

blue {
    color: rgb(0, 0, 255);
}

*,
 ::after,
 ::before {
    box-sizing: border-box
}

.container-publicaciones {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .container-publicaciones {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container-publicaciones {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container-publicaciones {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container-publicaciones {
        max-width: 1140px
    }
}

@media (min-width:1400px) {
    .container-publicaciones {
        max-width: 1320px;
    }
}


/* small */

@media (max-width:600px) {
    .w3-hide-small {
        display: none!important
    }
}


/* medium */

@media (max-width:992px) and (min-width:601px) {
    .w3-hide-medium {
        display: none!important
    }
}


/* large */

@media (min-width:993px) {
    .w3-hide-large {
        display: none!important
    }
}

.cuadricula {
    float: left;
    text-align: center;
    margin: 4px;
    justify-content: center;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
}


/*  img {
    height: auto;
    width: 100%;
}

.responsive_image {
    height: auto;
    border-style: none;
    max-width: 100%;
} */

div.gallery {
    background-color: var(--main-dark);
    align-items: center;
    float: left;
    width: 100%;
}

div.gallery:hover {
    opacity: 0.7;
}

div.gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    align-items: center;
}

div.gallery img:hover {
    opacity: 0.7;
}


/* The modalx (background) */

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 20%;
    align-items: center;
    vertical-align: middle;
    line-height: 180px;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 25%;
        margin: 6px 0;
        line-height: 150px;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 33.33%;
        line-height: 120px;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    align-items: center;
}

#myImg:hover {
    opacity: 0.7;
}


/* The modalx (background) */

.modalx {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* modalx Content (image) */

.modalx-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    padding: 10%;
}


/* Caption of modalx Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px 0;
    height: 150px;
}


/* Add Animation */

.modalx-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #f1f1f1;
    font-size: 3em;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modalx-content {
        width: 100%;
    }
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:after {
    text-decoration: none;
    color: inherit;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

div.scrollmenu {
    background-color: Black;
    overflow: auto;
    white-space: nowrap;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    line-height: 0;
    font-family: Roboto;
    font-size: 12pt;
    color: white;
    background-color: #017dbb;
    font-size: 20px;
    transition: all 0.3s ease;
}

div.scrollmenu i {
    display: inline-block;
    text-align: center;
    padding: 0px 0;
    transition: all 0.3s ease;
}

div.scrollmenu p {
    font-size: 14px;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0vw;
}

div.scrollmenu p:hover {
    font-size: 14px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0vw;
    transition: all 0.3s ease;
}

.tabcontent {
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}


/* Fade in tabs */

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

*,
 ::after,
 ::before {
    box-sizing: border-box
}

.container-publicaciones {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    height: 100%;
}

@media (min-width:576px) {
    .container-publicaciones {
        max-width: 540px;
        margin: 0 auto;
        padding: 50px;
    }
}

@media (min-width:768px) {
    .container-publicaciones {
        max-width: 720px;
        margin: 0 auto;
        padding: 50px;
    }
}

@media (min-width:992px) {
    .container-publicaciones {
        max-width: 960px;
        margin: 0 auto;
        padding: 50px;
    }
}

@media (min-width:1200px) {
    .container-publicaciones {
        max-width: 1140px;
        margin: 0 auto;
        padding: 50px;
    }
}

@media (min-width:1400px) {
    .container-publicaciones {
        max-width: 1320px;
        margin: 0 auto;
        padding: 50px;
    }
}

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

nav {
    display: block;
}

i,
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

i,
a:active,
i,
a:hover {
    outline-width: 0
}

 ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}


/*-------------------------------------------------------------------*/

.nav__trigger {
    display: inline;
    position: fixed;
    top: 3rem;
    right: 1rem;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 100%;
    transition: 0.2s ease-in-out 0.35s;
    z-index: 4;
}

.nav__trigger .bars {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav__trigger .bars,
.nav__trigger .bars:before,
.nav__trigger .bars:after {
    width: 24px;
    height: 4px;
    background-color: #18487D;
    border-radius: 4px;
    transition: 0.2s ease-in-out 0.35s;
}

.nav__trigger .bars:before,
.nav__trigger .bars:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
}

.nav__trigger .bars:before {
    transform: translateY(-8px);
}

.nav__trigger .bars:after {
    transform: translateY(8px);
}

.nav__trigger.is-active {
    transform: rotate(45deg);
    transition-delay: 0s;
}

.nav__trigger.is-active .bars,
.nav__trigger.is-active .bars:before,
.nav__trigger.is-active .bars:after {
    transition-delay: 0s;
    background-color: #18487D;
}

.nav__trigger.is-active .bars:before,
.nav__trigger.is-active .bars:after {
    transform: translateX(0) rotate(90deg);
}

.nav--mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0s ease-in-out 0.2s;
    z-index: 3;
}

.nav--mobile.is-active {
    visibility: visible;
    opacity: 1;
    transition: 0s 0s;
}

.nav--mobile.is-active .nav__divider {
    transform: scaleX(1);
    transition-duration: 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.nav--mobile.is-active .nav__item {
    opacity: 1;
    transform: translateY(0);
    transition: 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.nav--mobile.is-active .nav__list .nav__item:nth-of-type(1) {
    transition-delay: 0s;
}

.nav--mobile.is-active .nav__list .nav__item:nth-of-type(2) {
    transition-delay: 0.1s;
}

.nav--mobile.is-active .nav__list .nav__item:nth-of-type(3) {
    transition-delay: 0.2s;
}

.nav--mobile.is-active .nav__list .nav__item:nth-of-type(4) {
    transition-delay: 0.3s;
}

.nav--mobile.is-active .nav__list .nav__item:nth-of-type(5) {
    transition-delay: 0.4s;
}

.nav--mobile.is-active .nav__list .nav__item:nth-of-type(6) {
    transition-delay: 0.5s;
}

.nav--mobile.is-active .nav__list .nav__item:nth-of-type(7) {
    transition-delay: 0.6s;
}

.nav--mobile.is-active .nav__list .nav__item:nth-of-type(8) {
    transition-delay: 0.7s;
}

.nav--mobile.is-active .nav__list .nav__item:nth-of-type(9) {
    transition-delay: 0.8s;
}

.nav--mobile.is-active .nav__sublist .nav__item:nth-of-type(1) {
    transition-delay: 0.2s;
}

.nav--mobile.is-active .nav__sublist .nav__item:nth-of-type(2) {
    transition-delay: 0.3s;
}

.nav--mobile.is-active .nav__sublist .nav__item:nth-of-type(3) {
    transition-delay: 0.4s;
}

.nav--mobile.is-active .nav__sublist .nav__item:nth-of-type(4) {
    transition-delay: 0.5s;
}

.nav--mobile.is-active .nav__sublist .nav__item:nth-of-type(5) {
    transition-delay: 0.6s;
}

.nav--mobile.is-active .nav__sublist .nav__item:nth-of-type(6) {
    transition-delay: 0.7s;
}

.nav--mobile.is-active .nav__sublist .nav__item:nth-of-type(7) {
    transition-delay: 0.8s;
}

.nav--mobile.is-active .nav__sublist .nav__item:nth-of-type(8) {
    transition-delay: 0.9s;
}

.nav--mobile.is-active .nav__sublist .nav__item:nth-of-type(9) {
    transition-delay: 1s;
}

.nav__center {
    position: relative;
    top: 50%;
    max-width: 500px;
    margin: 0 auto;
    padding: 1.5rem;
    transform: translateY(-50%);
}

.nav__list ul,
.nav__sublist ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav__list a,
.nav__sublist a {
    transition: 0.3s ease-in-out;
}

.nav__list a {
    font-size: 15vw;
    font-size: 3rem;
    font-weight: 900;
    text-decoration: none;
    color: #18487D;
}

.nav__list a:hover {
    color: #18487D;
}

.nav__divider {
    margin: 1.75rem 0 1.5rem;
    width: 100%;
    height: 2px;
    background-color: #18487D;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.nav__sublist {
    overflow: hidden;
}

.nav__sublist ul {
    float: left;
    width: 50%;
}

.nav__sublist a {
    display: inline-block;
    padding: 0.5rem 0;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 6vw;
    font-size: 1.5rem;
}

.nav__sublist a:hover {
    color: #18487D;
}

.nav__item {
    opacity: 0;
    transform: translateY(10px);
    transition: 0.15s ease-in-out;
}

.overlay--nav {
    position: fixed;
    top: 1rem;
    right: 1rem;
    opacity: 1;
    visibility: visible;
    transition: 0.3s ease-in-out;
    transform: translate(-1.5625rem, 1.5625rem);
    z-index: 2;
}

.overlay--nav span {
    display: inline-block;
    position: absolute;
    border-radius: 100%;
    background-color: #017dbb;
    transform: translateZ(0) scale(0);
    transition: 0.3s ease-in-out 0.2s;
    will-change: transform;
}

.overlay--nav span.is-active {
    transition-delay: 0s;
    transform: translateZ(0) scale(1);
}


/*  ICOBAR TOP    */


/*  PROGRESS container     */

.progress-bar {
    height: 8px;
    width: 0%;
    background: linear-gradient( to right, #18487D, #18487D, #005677, #18487D, #18487D, #005677, #18487D, #18487D, #005677);
    background-position: center 0%;
    animation: background-slide 25s infinite linear;
}

.box-transparent {
    padding: .5rem;
    margin-top: .5rem!;
    margin-bottom: 1rem!;
    margin-top: 1rem!;
    margin-bottom: 1rem;
    border-radius: .25rem;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)
}

.background-icon-black-1B1C24 {
    justify-content: center;
    gap: 2rem;
    padding: 3rem;
    background-color: #1B1C24;
    background-image: url("img/lamp-icon-black-1B1C24.svg");
    /*  background-color: #1086B5; 
background-image: url("lamp-icon.svg"); */
    align-items: center;
    text-align: center;
}

.repeat {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pRepeat {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-bottom: .10rem;
    font-size: .1.25em;
    margin-bottom: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.body-hecho {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f9fafb;
    font-size: 70%;
    line-height: 1.4;
    font-family: "Inter", sans-serif;
    color: #6b7280;
    font-weight: 400;
}

@media only screen and (min-width: 600px) {
    .body-hecho {
        justify-content: center;
        align-items: center;
        display: flex;
        height: 100vh;
        font-size: 100%;
    }
}

.button-hecho {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #16a34a;
    border-radius: 0.25em;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    height: 3em;
    line-height: 3em;
    padding: 0 1em;
}

.button-hecho:hover {
    background-color: #17ac4e;
}

.details-modal-hecho {
    background: #ffffff;
    border-radius: 0.5em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    left: 50%;
    max-width: 90%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30em;
    text-align: left;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
}

.details-modal-hecho .details-modal-close {
    align-items: center;
    color: #111827;
    display: flex;
    height: 4.5em;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 4.5em;
}

.details-modal-hecho .details-modal-close svg {
    display: block;
}

.details-modal-hecho .details-modal-title {
    color: #111827;
    padding: 1.5em 2em;
    pointer-events: all;
    position: relative;
    width: calc(100% - 4.5em);
}

.details-modal-hecho .details-modal-title h1 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: normal;
}

.details-modal-hecho .details-modal-content {
    border-top: 1px solid #e0e0e0;
    padding: 2em;
    pointer-events: all;
    overflow: auto;
}

.details-modal-overlay-hecho {
    transition: opacity 0.2s ease-out;
    pointer-events: none;
    background: rgba(15, 23, 42, 0.8);
    position: fixed;
    opacity: 0;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.details-hecho[open] .details-modal-overlay {
    pointer-events: all;
    opacity: 0.5;
}

.details-hecho summary:focus {
    outline: none;
}

.details-hecho summary::-webkit-details-marker {
    display: none;
}

.code-hecho {
    font-family: Monaco, monospace;
    line-height: 100%;
    background-color: #2d2d2c;
    padding: 0.1em 0.4em;
    letter-spacing: -0.05em;
    word-break: normal;
    border-radius: 7px;
    color: white;
    font-weight: normal;
    font-size: 1.75rem;
    position: relative;
    top: -2px;
}

.container-hecho {
    text-align: center;
    max-width: 40em;
    padding: 2em;
}

.container-hecho>h1 {
    font-weight: 700;
    font-size: 2rem;
    line-height: normal;
    color: #111827;
}

.container-hecho>p {
    margin-top: 2em;
    margin-bottom: 2em;
}

.container-hecho sup {
    font-size: 1rem;
    margin-left: 0.25em;
    opacity: 0.5;
    position: relative;
}

div.gallery {
    border: 0px solid #0f8ec0;
}

div.gallery:hover {
    border: 0px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

.responsiveg {
    padding: 0 6px;
    margin: 6px 0;
    float: left;
    width: 20%;
    display: grid;
}

@media only screen and (max-width: 700px) {
    .responsiveg {
        width: 50%;
        margin: 6px 0;
        padding: 0 6px;
        display: grid;
        width: 33.33%;
    }
}

@media only screen and (max-width: 1200px) {
    .responsiveg {
        width: 50%;
        margin: 6px 0;
        padding: 0 6px;
        display: grid;
        width: 33.33%;
    }
}

@media only screen and (max-width: 500px) {
    .responsiveg {
        width: 50%;
        margin: 6px 0;
        padding: 0 6px;
        display: grid;
        width: 50%;
    }
    /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 700px) {
        .row {
            flex-direction: column;
        }
    }
    /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
    @media screen and (max-width: 400px) {
        .navbar a {
            float: none;
            width: 100%;
        }
    }
}

.img {
    width: 100%;
}

.img.responsiveg {
    width: 100%;
    max-width: 400px;
    height: auto;
    align-items: center;
    display: inherit;
}

.container-leyendo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-leyendo .chronometer {
    width: 50%;
    font-family: sans-serif;
    transition: all 0.5s;
}

.container-leyendo .chronometer .time {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-leyendo .chronometer .time .counter-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 12px;
}

.container-leyendo .chronometer .time .counter-down .box {
    display: flex;
    flex-direction: row;
}

.container-leyendo .chronometer .time .counter-down .box .left,
.container-leyendo .chronometer .time .counter-down .box .right {
    position: relative;
    font-size: 14px;
    /*     border-radius: 10%;
box-shadow: 0 1px 0px 0 #d456ca, 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
text-shadow: 0 0 6px #d456ca;
background-color: #751195;
color: white; */
    transition: all 0.5s;
}

.container-leyendo .chronometer .time .counter-down .box .left::before,
.container-leyendo .chronometer .time .counter-down .box .right::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    /*  background-color: #751195; */
    position: absolute;
    right: 0;
    top: 48%;
    transition: all 0.5s;
}

.container-leyendo .chronometer .time .counter-down .description {
    /*    color: #751195;
letter-spacing: 0.75px;
text-shadow: 0 0 2px #d456ca; */
    transition: all 0.5s;
}


/*! tailwindcss v2.2.16 | MIT License | https://tailwindcss.com */


/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

*,
::after,
::before {
    box-sizing: border-box
}

html {
    -moz-tab-size: 4;
    tab-size: 4
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

body {
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji'
}

b,
strong {
    font-weight: bolder
}

code {
    font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
    font-size: 1em
}

sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button {
    text-transform: none
}

button {
    -webkit-appearance: button
}

::-moz-focus-inner {
    border-style: none;
    padding: 0
}

:-moz-focusring {
    outline: 1px dotted ButtonText
}

:-moz-ui-invalid {
    box-shadow: none
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

h1,
h2,
h3,
h4,
p {
    margin: 0
}

button {
    background-color: transparent;
    background-image: none
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5
}

body {
    font-family: inherit;
    line-height: inherit
}

*,
::after,
::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor
}

img {
    border-style: solid
}

button {
    cursor: pointer
}

:-moz-focusring {
    outline: auto
}

h1,
h2,
h3,
h4 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

button {
    padding: 0;
    line-height: inherit;
    color: inherit
}

code {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

img,
svg,
video {
    display: block;
    vertical-align: middle
}

img,
video {
    max-width: 100%;
    height: auto
}

*,
::after,
::before {
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity))
}

.container {
    width: 100%
}

@media (min-width:640px) {
    .container {
        max-width: 640px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 768px
    }
}

@media (min-width:1024px) {
    .container {
        max-width: 1024px
    }
}

@media (min-width:1280px) {
    .container {
        max-width: 1280px
    }
}

@media (min-width:1536px) {
    .container {
        max-width: 1536px
    }
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem
}

.mt-3 {
    margin-top: .75rem
}

.mr-1 {
    margin-right: .25rem
}

.mr-2 {
    margin-right: .5rem
}

.mr-6 {
    margin-right: 1.5rem
}

.mr-8 {
    margin-right: 2rem
}

.mb-1 {
    margin-bottom: .25rem
}

.mb-2 {
    margin-bottom: .5rem
}

.mb-3 {
    margin-bottom: .75rem
}

.mb-4 {
    margin-bottom: 1rem
}

.mb-6 {
    margin-bottom: 1.5rem
}

.block {
    display: block
}

.flex {
    display: flex
}

.h-6 {
    height: 1.5rem
}

.h-10 {
    height: 2.5rem
}

.h-12 {
    height: 3rem
}

.h-20 {
    height: 5rem
}

.h-48 {
    height: 12rem
}

.w-6 {
    width: 1.5rem
}

.w-12 {
    width: 3rem
}

.w-20 {
    width: 5rem
}

.w-48 {
    width: 12rem
}

.w-full {
    width: 100%
}

.flex-col {
    flex-direction: column
}

.items-center {
    align-items: center
}

.justify-between {
    justify-content: space-between
}

.rounded-sm {
    border-radius: .125rem
}

.rounded {
    border-radius: .25rem
}

.rounded-full {
    border-radius: 9999px
}

.border {
    border-width: 1px
}

.border-b-2 {
    border-bottom-width: 2px
}

.border-b {
    border-bottom-width: 1px
}

.border-solid {
    border-style: solid
}

.border-transparent {
    border-color: transparent
}

.hover\:border-transparent:hover {
    border-color: transparent
}

.bg-transparent {
    background-color: transparent
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity))
}

.p-1 {
    padding: .25rem
}

.p-3 {
    padding: .75rem
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.py-3 {
    padding-top: .75rem;
    padding-bottom: .75rem
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.pt-2 {
    padding-top: .5rem
}

.pt-3 {
    padding-top: .75rem
}

.pr-6 {
    padding-right: 1.5rem
}

.pb-2 {
    padding-bottom: .5rem
}

.pl-0 {
    padding-left: 0
}

.pl-2 {
    padding-left: .5rem
}

.pl-3 {
    padding-left: .75rem
}

.pl-4 {
    padding-left: 1rem
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}

.font-medium {
    font-weight: 500
}

.font-semibold {
    font-weight: 600
}

.font-bold {
    font-weight: 700
}

.leading-tight {
    line-height: 1.25
}

.leading-normal {
    line-height: 1.5
}

.tracking-tight {
    letter-spacing: -.025em
}

.text-black {
    --tw-text-opacity: 1;
    color: rgba(0, 0, 0, var(--tw-text-opacity))
}

.text-white {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity))
}

.hover\:text-white:hover {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity))
}

.no-underline {
    text-decoration: none
}

.hover\:underline:hover {
    text-decoration: underline
}

.hover\:no-underline:hover {
    text-decoration: none
}

*,
::after,
::before {
    --tw-shadow: 0 0 #0000
}

*,
::after,
::before {
    --tw-ring-inset: var(--tw-empty, );
    /*!*/
    /*!*/
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000
}

@media (min-width:640px) {}

@media (min-width:768px) {}

@media (min-width:1024px) {
    .lg\:absolute {
        position: absolute
    }
    .lg\:relative {
        position: relative
    }
    .lg\:my-0 {
        margin-top: 0;
        margin-bottom: 0
    }
    .lg\:-mt-24 {
        margin-top: -6rem
    }
    .lg\:w-1\/2 {
        width: 50%
    }
    .lg\:w-1\/4 {
        width: 25%
    }
    .lg\:flex-row {
        flex-direction: row
    }
    .lg\:justify-end {
        justify-content: flex-end
    }
    .lg\:pl-0 {
        padding-left: 0
    }
}

@media (min-width:1280px) {}

@media (min-width:1536px) {}