        img {
            margin: 0 auto;
        }
        
        
        
        .container-name {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .container-name .box {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        
        .container-name .box .title {
            width: 100%;
            display: flex;
            align-items: center;
            height: 50px;
        }
        
        .container-name .box .title .block {
            width: 0%;
            height: inherit;
            /*  
    background: linear-gradient(45deg, #042461 0%, rgba(225, 5, 34, 0) 70%), linear-gradient(135deg, #340447 10%, rgba(49, 5, 209, 0) 80%), linear-gradient(225deg, #0f053a 10%, rgba(10, 219, 216, 0) 80%), linear-gradient(315deg, #050813 100%, rgba(9, 245, 5, 0) 70%);
    background: linear-gradient( to right, #e91e63, #d4232c, #ce6f30, #e9d51e, #23d458, #1ec0e9, #981ee9, #23d458, #1ea9e9); */
            background-position: center 0%;
            animation: background-slide 1s infinite linear;
            position: absolute;
            animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
            display: flex;
        }
        
        .container-name .box .role {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            height: 30px;
            margin-top: -10px;
        }
        
        .container-name .box .role .block {
            width: 0%;
            height: inherit;
            background: linear-gradient( to right, #e91e63, #d4235e, #ce3065, #e91e63, #d4235e, #e91e63);
            background-position: center 0%;
            animation: background-slide 1s infinite linear;
            position: absolute;
            animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
            animation-delay: 2s;
            display: flex;
        }
        
        .container-name .box .role p {
            animation: secFadeIn 2s forwards;
            font-family: "Inter", sans-serif;
            animation-delay: 3.2s;
            opacity: 0;
            font-weight: 800;
            color: #ddcccc;
            font-size: 20px;
            letter-spacing: 6px;
            padding-top: 30px;
            padding-bottom: 30px;
            margin-top: 33px;
        }
        
        @keyframes mainBlock {
            0% {
                width: 0%;
                left: 0;
            }
            50% {
                width: 100%;
                left: 0;
            }
            100% {
                width: 0;
                left: 100%;
            }
        }
        
        @keyframes secBlock {
            0% {
                width: 0%;
                left: 0;
            }
            50% {
                width: 100%;
                left: 0;
            }
            100% {
                width: 0;
                left: 100%;
            }
        }
        
        @keyframes secFadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 0.5;
            }
        }
        /* small */
        
        @media (max-width:600px) {
            .container-name .box {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .container-name .box .title {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .container-name .box .title .block {
                width: 0%;
                height: inherit;
                background: linear-gradient(45deg, #042461 0%, rgba(225, 5, 34, 0) 70%), linear-gradient(135deg, #340447 10%, rgba(49, 5, 209, 0) 80%), linear-gradient(225deg, #0f053a 10%, rgba(10, 219, 216, 0) 80%), linear-gradient(315deg, #050813 100%, rgba(9, 245, 5, 0) 70%);
                /*   background: linear-gradient( to right, #e91e63, #d4232c, #ce6f30, #e9d51e, #23d458, #1ec0e9, #981ee9, #23d458, #1ea9e9); */
                background-position: center 0%;
                animation: background-slide 1s infinite linear;
                position: absolute;
                animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
            }
            .container-name .box .role {
                width: 100%;
                position: relative;
                display: flex;
                align-items: center;
            }
            .container-name .box .role .block {
                width: 0%;
                background: linear-gradient( to right, #e91e63, #d4235e, #ce3065, #e91e63, #d4235e, #e91e63);
                background-position: center 0%;
                animation: background-slide 1s infinite linear;
                position: absolute;
                animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
                animation-delay: 2s;
                display: flex;
            }
            .container-name .box .role p {
                animation: secFadeIn 2s forwards;
                animation-delay: 3.2s;
                opacity: 0;
                font-weight: 800;
                word-spacing: 0px;
                letter-spacing: 0px;
                /*  line-height: 1.5px; */
                align-items: center;
            }
            @keyframes mainBlock {
                0% {
                    width: 0%;
                    left: 0;
                }
                50% {
                    width: 100%;
                    left: 0;
                }
                100% {
                    width: 0;
                    left: 100%;
                }
            }
            @keyframes secBlock {
                0% {
                    width: 0%;
                    left: 0;
                }
                50% {
                    width: 100%;
                    left: 0;
                }
                100% {
                    width: 0;
                    left: 100%;
                }
            }
            @keyframes secFadeIn {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 0.5;
                }
            }
        }
        
        .confetti {
            transition: all .2s;
        }
        
        .confetti:active {
            transform: scale(.6);
        }
        
        .negro {
            text-decoration: none;
            color: rgb(0, 0, 0);
        }
        
        .negro:hover {
            text-decoration: none;
            color: rgb(0, 0, 0);
        }
        
     
        
        .shake {
            position: relative;
            color: #fff;
            -webkit-animation: custom-shake 3s ease-in-out 5s infinite;
            animation: custom-shake 3s ease-in-out 3s infinite;
            -webkit-transform: translate(0) rotate(0deg);
            -webkit-transform-origin: bottom;
            transform: translate(0) rotate(0deg);
            transform-origin: bottom;
            text-align: center;
        }
        
        @keyframes custom-shake {
            0% {
                transform: rotate(0deg);
            }
            80% {
                transform: rotate(0deg);
            }
            85% {
                transform: rotate(1deg);
            }
            95% {
                transform: rotate(-1deg);
            }
            100% {
                transform: rotate(0deg);
            }
        }
        
        .lg\:-mt-24 {
            margin-top: -6rem;
        }
        
        .w-1\/8 {
            width: 12.5%;
        }
        
        .w-7\/8 {
            width: 87.5%;
        }
        
        *,
         ::after,
         ::before {
            box-sizing: border-box
        }
        
        .container-publicaciones {
            width: 100%;
            padding-right: var(--bs-gutter-x, .75rem);
            padding-left: var(--bs-gutter-x, .75rem);
            margin-right: auto;
            margin-left: auto
        }
        
        @media (min-width:576px) {
            .container-publicaciones {
                max-width: 540px
            }
        }
        
        @media (min-width:768px) {
            .container-publicaciones {
                max-width: 720px
            }
        }
        
        @media (min-width:992px) {
            .container-publicaciones {
                max-width: 960px
            }
        }
        
        @media (min-width:1200px) {
            .container-publicaciones {
                max-width: 1140px
            }
        }
        
        @media (min-width:1400px) {
            .container-publicaciones {
                max-width: 1320px;
            }
        }
        
        .p-post {
            margin-top: 0;
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            margin-bottom: 0;
            width: 100%;
            padding-right: var(--bs-gutter-x, .75rem);
            padding-left: var(--bs-gutter-x, .75rem);
            margin-right: auto;
            margin-left: auto
        }
        /* small */
        
        @media (max-width:600px) {
            .w3-hide-small {
                display: none!important
            }
        }
        /* medium */
        
        @media (max-width:992px) and (min-width:601px) {
            .w3-hide-medium {
                display: none!important
            }
        }
        /* large */
        
        @media (min-width:993px) {
            .w3-hide-large {
                display: none!important
            }
        }
        
        .img {
            max-width: 200px;
            width: 100%;
            height: auto;
            border-radius: 5px;
            transition: 0.3s;
        }
        /*  img {
            height: auto;
            width: 100%;
            height: auto;
            border-style: none;
            max-width: 100%;
        }*/
        
        .responsive_image {
            height: auto;
            border-style: none;
            max-width: 100%;
        }
        /* The modalx (background) */
        
        * {
            box-sizing: border-box;
        }
        /* 100% Image Width on Smaller Screens */
        
        a {
            text-decoration: none;
            color: inherit;
        }
        
        a:after {
            text-decoration: none;
            color: inherit;
        }
        
        a:link {
            text-decoration: none;
            color: inherit;
        }
        
        a:visited {
            text-decoration: none;
            color: inherit;
            font-weight: bold;
        }
        
        a:hover {
            text-decoration: none;
            color: inherit;
        }
        
        div.scrollmenu {
            background-color: Black;
            overflow: auto;
            white-space: nowrap;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
            line-height: 0;
            color: white;
            background-color: #0a4461;
            font-size: 20px;
            transition: all 0.3s ease;
        }
        
        div.scrollmenu i {
            display: inline-block;
            text-align: center;
            padding: 0px 0;
            transition: all 0.3s ease;
        }
        
        div.scrollmenu p {
            font-size: 14px;
            text-align: left;
            margin-top: 0vw;
        }
        
        div.scrollmenu p:hover {
            font-size: 14px;
            text-align: center;
            margin-top: 0vw;
            transition: all 0.3s ease;
        }
        
        .tabcontent {
            display: none;
            -webkit-animation: fadeEffect 1s;
            animation: fadeEffect 1s;
        }
        /* Scroll post */
        
        div.scrollmenu-post {
            overflow: auto;
            white-space: nowrap;
            position: fixed;
            left: 0;
            top: 50px;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
            line-height: 0;
            color: #0a4461;
            background-color: white;
            transition: all 0.3s ease;
        }
        
        div.scrollmenu-post i {
            display: inline-block;
            text-align: center;
            padding: 0px 0;
            transition: all 0.3s ease;
        }
        
        div.scrollmenu-post p {
            text-align: left;
            margin-top: 0vw;
        }
        
        div.scrollmenu-post p:hover {
            text-align: center;
            margin-top: 0vw;
            transition: all 0.3s ease;
            color: black;
        }
        /* Fade in tabs */
        
        @-webkit-keyframes fadeEffect {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        
        @keyframes fadeEffect {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        
        *,
         ::after,
         ::before {
            box-sizing: border-box
        }
        
        .container-publicaciones {
            width: 100%;
            margin-right: 0px;
            margin-left: 0px;
            height: 100%;
        }
        
        @media (min-width:576px) {
            .container-publicaciones {
                max-width: 540px;
                margin: 0 auto;
                padding: 50px;
            }
        }
        
        @media (min-width:768px) {
            .container-publicaciones {
                max-width: 720px;
                margin: 0 auto;
                padding: 50px;
            }
        }
        
        @media (min-width:992px) {
            .container-publicaciones {
                max-width: 960px;
                margin: 0 auto;
                padding: 50px;
            }
        }
        
        @media (min-width:1200px) {
            .container-publicaciones {
                max-width: 1140px;
                margin: 0 auto;
                padding: 50px;
            }
        }
        
        @media (min-width:1400px) {
            .container-publicaciones {
                max-width: 1320px;
                margin: 0 auto;
                padding: 50px;
            }
        }
        /*  PROGRESS container     */
        
        .box-transparent {
            padding: .5rem;
            margin-top: .5rem!;
            margin-bottom: 1rem!;
            margin-top: 1rem!;
            margin-bottom: 1rem;
            border-radius: .25rem;
            box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)
        }
        
        .background-icon-black-1B1C24 {
            justify-content: center;
            gap: 2rem;
            padding: 3rem;
            background-color: #1B1C24;
            background-image: url("img/lamp-icon-black-1B1C24.svg");
            /*  background-color: #1086B5; 
background-image: url("lamp-icon.svg"); */
            align-items: center;
            text-align: center;
        }
        
        .repeat {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
        .pRepeat {
            margin-top: 0;
            margin-bottom: 1rem;
            padding-bottom: .10rem;
            font-size: .1.25em;
            margin-bottom: 0;
        }
        
        @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
        *,
        *:before,
        *:after {
            box-sizing: border-box;
        }
        
        * {
            box-sizing: border-box;
        }
        
        @media only screen and (max-width: 500px) {
            /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
            /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
        }
        
        .container-leyendo {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .container-leyendo .chronometer {
            width: 50%;
            transition: all 0.5s;
        }
        
        .container-leyendo .chronometer .time {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        
        .container-leyendo .chronometer .time .counter-down {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 12px;
        }
        
        .container-leyendo .chronometer .time .counter-down .box {
            display: flex;
            flex-direction: row;
        }
        
        .container-leyendo .chronometer .time .counter-down .box .left,
        .container-leyendo .chronometer .time .counter-down .box .right {
            position: relative;
            font-size: 14px;
            /*     border-radius: 10%;
box-shadow: 0 1px 0px 0 #d456ca, 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
text-shadow: 0 0 6px #d456ca;
background-color: #751195;
color: white; */
            transition: all 0.5s;
        }
        
        .container-leyendo .chronometer .time .counter-down .box .left::before,
        .container-leyendo .chronometer .time .counter-down .box .right::before {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            /*  background-color: #751195; */
            position: absolute;
            right: 0;
            top: 48%;
            transition: all 0.5s;
        }
        
        .container-leyendo .chronometer .time .counter-down .description {
            /*    color: #751195;
letter-spacing: 0.75px;
text-shadow: 0 0 2px #d456ca; */
            transition: all 0.5s;
        }
        
        summary {
            display: list-item
        }
        
        h4,
        p {
            margin: 0
        }
        
        button {
            background-color: transparent;
            background-image: none
        }
        
        ul {
            list-style: none;
            margin: 0;
            padding: 0
        }
        
        body {
            line-height: 1.5;
            font-family: "Roboto", sans-serif;
            margin: 0;
        }
        
        *,
         ::after,
         ::before {
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
            border-color: currentColor
        }
        
        img {
            border-style: solid
        }
        
        button {
            cursor: pointer
        }
        
         :-moz-focusring {
            outline: auto
        }
        
        h4 {
            font-size: inherit;
            font-weight: inherit
        }
        
        button {
            padding: 0;
            line-height: inherit;
            color: inherit
        }
        
        img,
        video {
            display: block;
            vertical-align: middle
        }
        
        img,
        video {
            max-width: 100%;
            height: auto
        }
        
        *,
         ::after,
         ::before {
            --tw-border-opacity: 1;
            border-color: rgba(229, 231, 235, var(--tw-border-opacity))
        }
        
        .container {
            width: 100%
        }
        
        @media (min-width:640px) {
            .container {
                max-width: 640px
            }
        }
        
        @media (min-width:768px) {
            .container {
                max-width: 768px
            }
        }
        
        @media (min-width:1024px) {
            .container {
                max-width: 1024px
            }
        }
        
        @media (min-width:1280px) {
            .container {
                max-width: 1280px
            }
        }
        
        @media (min-width:1536px) {
            .container {
                max-width: 1536px
            }
        }
        
        .mx-auto {
            margin-left: auto;
            margin-right: auto
        }
        
        .mr-2 {
            margin-right: .5rem
        }
        
        .mb-3 {
            margin-bottom: .75rem
        }
        
        .mb-4 {
            margin-bottom: 1rem
        }
        
        .mb-6 {
            margin-bottom: 1.5rem
        }
        
        .block {
            display: block
        }
        
        .flex {
            display: flex
        }
        
        .h-12 {
            height: 3rem
        }
        
        .h-48 {
            height: 12rem
        }
        
        .w-12 {
            width: 3rem
        }
        
        .w-48 {
            width: 12rem
        }
        
        .w-full {
            width: 100%
        }
        
        .flex-col {
            flex-direction: column
        }
        
        .items-center {
            align-items: center
        }
        
        .justify-between {
            justify-content: space-between
        }
        
        .rounded-sm {
            border-radius: .125rem
        }
        
        .rounded-full {
            border-radius: 9999px
        }
        
        .border {
            border-width: 1px
        }
        
        .border-b {
            border-bottom-width: 1px
        }
        
        .border-solid {
            border-style: solid
        }
        
        .bg-white {
            --tw-bg-opacity: 1;
            background-color: rgba(255, 255, 255, var(--tw-bg-opacity))
        }
        
        .p-3 {
            padding: .75rem
        }
        
        .pt-3 {
            padding-top: .75rem
        }
        
        .pr-6 {
            padding-right: 1.5rem
        }
        
        .pl-0 {
            padding-left: 0
        }
        
        .pl-3 {
            padding-left: .75rem
        }
        
        .pl-4 {
            padding-left: 1rem
        }
        
        .text-right {
            text-align: right
        }
        
        .text-xs {
            font-size: 1rem;
            line-height: 1rem
        }
        
        .font-bold {
            font-weight: 700
        }
        
        .text-black {
            --tw-text-opacity: 1;
            color: rgba(0, 0, 0, var(--tw-text-opacity))
        }
        
        .no-underline {
            text-decoration: none
        }
        
        @media (min-width:1024px) {
            .lg\:absolute {
                position: absolute
            }
            .lg\:relative {
                position: relative
            }
            .lg\:-mt-24 {
                margin-top: -6rem
            }
            .lg\:w-1\/2 {
                width: 50%
            }
            .lg\:w-1\/4 {
                width: 25%
            }
            .lg\:flex-row {
                flex-direction: row
            }
            .lg\:pl-0 {
                padding-left: 0
            }
        }
        /* Preloder */
        
        #preloder {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 999999;
            justify-content: center;
            gap: 2rem;
            padding: 3rem;
            min-height: 80vh;
            /*  background-color: #1B1C24;
    background-image: url("img/lamp-icon-black-1B1C24.svg");
     background-color: #1086B5; 
    background-image: url("lamp-icon.svg"); */
            align-items: center;
            text-align: center;
        }
        
        .loader {
            width: 40px;
            height: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -13px;
            margin-left: -13px;
            border-radius: 60px;
            animation: loader 0.8s linear infinite;
            -webkit-animation: loader 0.8s linear infinite;
        }
        
        @keyframes loader {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                border: 4px solid #f44336;
                border-left-color: transparent;
            }
            50% {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
                border: 4px solid #673ab7;
                border-left-color: transparent;
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
                border: 4px solid #f44336;
                border-left-color: transparent;
            }
        }
        
        @-webkit-keyframes loader {
            0% {
                -webkit-transform: rotate(0deg);
                border: 4px solid #f44336;
                border-left-color: transparent;
            }
            50% {
                -webkit-transform: rotate(180deg);
                border: 4px solid #673ab7;
                border-left-color: transparent;
            }
            100% {
                -webkit-transform: rotate(360deg);
                border: 4px solid #f44336;
                border-left-color: transparent;
            }
        }
        
        .background-icon-black-1B1C24 {
            justify-content: center;
            gap: 2rem;
            padding: 3rem;
            background-color: #1B1C24;
            background-image: url("img/lamp-icon-black-1B1C24.svg");
            /*  background-color: #1086B5; 
    background-image: url("lamp-icon.svg"); */
            align-items: center;
            text-align: center;
        }
        /* Preloder */
        
        #preloder {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 999999;
            justify-content: center;
            gap: 2rem;
            padding: 3rem;
            min-height: 80vh;
            background-color: #1B1C24;
            background-image: url("img/lamp-icon-black-1B1C24.svg");
            /*  background-color: #1086B5; 
    background-image: url("lamp-icon.svg"); */
            align-items: center;
            text-align: center;
        }
        
        .loader {
            width: 40px;
            height: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -13px;
            margin-left: -13px;
            border-radius: 60px;
            animation: loader 0.8s linear infinite;
            -webkit-animation: loader 0.8s linear infinite;
        }
        
        @keyframes loader {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                border: 4px solid #f44336;
                border-left-color: transparent;
            }
            50% {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
                border: 4px solid #673ab7;
                border-left-color: transparent;
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
                border: 4px solid #f44336;
                border-left-color: transparent;
            }
        }
        
        @-webkit-keyframes loader {
            0% {
                -webkit-transform: rotate(0deg);
                border: 4px solid #f44336;
                border-left-color: transparent;
            }
            50% {
                -webkit-transform: rotate(180deg);
                border: 4px solid #673ab7;
                border-left-color: transparent;
            }
            100% {
                -webkit-transform: rotate(360deg);
                border: 4px solid #f44336;
                border-left-color: transparent;
            }
        }
        /* ico bar */
        /*socil*/
        /* #Progress
    ================================================== */
        /* W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
        
        html {
            box-sizing: border-box;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }
        
        *,
        *:before,
        *:after {
            box-sizing: inherit
        }
        /* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
        
        details,
        footer,
        main {
            display: block
        }
        
        summary {
            display: list-item
        }
        
        a {
            background-color: transparent
        }
        
        a:active,
        a:hover {
            outline-width: 0
        }
        
        b {
            font-weight: bolder
        }
        /* End extract */
        
        h4 {
            font-size: 20px
        }
        
        h4 {
            font-weight: 400;
            margin: 10px 0
        }
        
        img {
            vertical-align: middle
        }
        
        .w3-button {
            border: none;
            display: inline-block;
            padding: 8px 16px;
            vertical-align: middle;
            overflow: hidden;
            text-decoration: none;
            color: inherit;
            background-color: inherit;
            text-align: center;
            cursor: pointer;
            white-space: nowrap
        }
        
        .w3-button {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none
        }
        
        .w3-button:disabled {
            cursor: not-allowed;
            opacity: 0.3
        }
        
         :disabled * {
            pointer-events: none
        }
        
        .w3-modal {
            z-index: 3;
            display: none;
            padding-top: 100px;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.4)
        }
        
        .w3-modal-content {
            margin: auto;
            background-color: #fff;
            position: relative;
            padding: 0;
            outline: 0;
            width: 600px
        }
        
        .w3-bar {
            width: 100%;
            overflow: hidden
        }
        
        .w3-container:after,
        .w3-container:before,
        .w3-row:after,
        .w3-row:before,
        .w3-bar:before,
        .w3-bar:after {
            content: "";
            display: table;
            clear: both
        }
        
        .w3-hide {
            display: none!important
        }
        
        @media (max-width:600px) {
            .w3-modal-content {
                margin: 0 10px;
                width: auto!important
            }
            .w3-modal {
                padding-top: 30px
            }
            .w3-hide-small {
                display: none!important
            }
        }
        
        @media (max-width:768px) {
            .w3-modal-content {
                width: 500px
            }
            .w3-modal {
                padding-top: 50px
            }
        }
        
        @media (min-width:993px) {
            .w3-modal-content {
                width: 900px
            }
            .w3-hide-large {
                display: none!important
            }
        }
        
        @media (max-width:992px) and (min-width:601px) {
            .w3-hide-medium {
                display: none!important
            }
        }
        
        .w3-display-topright {
            position: absolute;
            right: 0;
            top: 0
        }
        
        .w3-container {
            padding: 0.01em 16px
        }
        
        .w3-card-4 {
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
        }
        
        .w3-hover-opacity:hover {
            opacity: 0.60
        }
        
        .w3-large {
            font-size: 18px!important
        }
        
        .w3-xlarge {
            font-size: 24px!important
        }
        
        .w3-center {
            text-align: center!important
        }
        
        .w3-margin {
            margin: 16px!important
        }
        
        .w3-button:hover {
            color: #000!important;
            background-color: #ccc!important
        }
        /* Colors */
        
        .w3-black {
            color: #fff!important;
            background-color: #000!important
        }
        /* small */
        
        @media (max-width:600px) {
            .susan-storm-small {
                display: none!important
            }
            source {
                width: 310;
                height: 175;
            }
        }
        /* medium */
        
        @media (max-width:992px) and (min-width:601px) {
            .susan-storm-medium {
                display: none!important
            }
            source {
                width: 515;
                height: 290;
            }
        }
        /* large */
        
        @media (min-width:993px) {
            .susan-storm-large {
                display: none!important
            }
            source {
                width: 607;
                height: 342;
            }
        }
        /* POPUP */
        
        .btn-xiib {
            border: solid 3px black;
            font-size: 20px;
            color: white;
            width: auto;
            height: 50px;
            border-radius: 30px;
            padding: 8px 16px;
            vertical-align: middle;
            overflow: hidden;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            font-weight: bold;
            white-space: nowrap;
        }
        /* small */
        
        @media (max-width:600px) {
            .susan-storm-small {
                display: none!important
            }
            .btn-xiib {
                border: solid 3px black;
                font-size: 18px;
                color: white;
                width: auto;
                height: 50px;
                border-radius: 30px;
                padding: 8px 16px;
                vertical-align: middle;
                overflow: hidden;
                text-decoration: none;
                text-align: center;
                cursor: pointer;
                font-weight: bold;
                white-space: nowrap;
            }
            source {
                width: 310;
                height: 175;
            }
        }
        /* medium */
        
        @media (max-width:992px) and (min-width:601px) {
            .susan-storm-medium {
                display: none!important
            }
            source {
                width: 515;
                height: 290;
            }
        }
        /* large */
        
        @media (min-width:993px) {
            .susan-storm-large {
                display: none!important
            }
            source {
                width: 607;
                height: 342;
            }
        }
        
        .confetti {
            transition: all .2s;
        }
        
        .confetti:active {
            transform: scale(.6);
        }
        
        .luz-neon {
            user-select: none;
            text-align: center;
            margin: 10px 0;
            position: relative;
            display: block;
            outline: none;
            background: transparent;
        }
        
        .luz-neon b {
            color: #fee;
            text-shadow: 0 -30px 80px, 0 0 1px, 0 0 .5em #b00199, 0 0 0.5em #0674a0, 0 0 0.1em #19a1d6, 0 10px 3px #000;
            /*      text-shadow: 0 -30px 80px, 0 0 1px, 0 0 .5em #017db0, 0 0 0.5em #0674a0, 0 0 0.1em #19a1d6, 0 10px 3px #000;  */
        }
        
        .luz-neon b span {
            animation: blink linear infinite 1s;
        }
        
        .luz-neon b span:nth-of-type(2) {
            animation: blink linear infinite 2s;
        }
        
        @keyframes blink {
            78% {
                color: inherit;
                text-shadow: inherit;
            }
            79% {
                color: #333;
            }
            80% {
                text-shadow: none;
            }
            81% {
                color: inherit;
                text-shadow: inherit;
            }
            82% {
                color: #333;
                text-shadow: none;
            }
            83% {
                color: inherit;
                text-shadow: inherit;
            }
            92% {
                color: #333;
                text-shadow: none;
            }
            92.5% {
                color: inherit;
                text-shadow: inherit;
            }
        }
        
        .iconico-3d {
            padding: 10px;
            -webkit-animation: icon3d 200ms 10;
            animation: icon3d 200ms 10;
            color: rgb(255, 255, 255);
        }
        
        .iconico-3d:hover {
            -webkit-animation: icon3d 200ms infinite;
            animation: icon3d 200ms infinite;
        }
        
        @keyframes icon3d {
            0% {
                text-shadow: 5px 4px #f44336, -5px -6px #2196f3;
            }
            25% {
                text-shadow: -5px -6px #f44336, 5px 4px #2196f3;
            }
            50% {
                text-shadow: 5px -4px #f44336, -8px 4px #2196f3;
            }
            75% {
                text-shadow: -8px -4px #f44336, -5px -4px #2196f3;
            }
            100% {
                text-shadow: -5px 0 #f44336, 5px -4px #2196f3;
            }
        }
        
        @media only screen and (max-width: 500px) {
            /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
            /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
        }
        
        .responsive5 {
            padding: 0 6px;
            margin: 6px 0;
            float: left;
            width: 20%;
            display: grid;
        }
        
        @media only screen and (max-width: 700px) {
            .responsive5 {
                width: 50%;
                margin: 6px 0;
                padding: 0 6px;
                display: grid;
                width: 20%;
            }
        }
        
        @media only screen and (max-width: 1200px) {
            .responsive5 {
                width: 50%;
                margin: 6px 0;
                padding: 0 6px;
                display: grid;
                width: 20%;
            }
        }
        
        @media only screen and (max-width: 500px) {
            .responsive5 {
                width: 50%;
                margin: 6px 0;
                padding: 0 6px;
                display: grid;
                width: 25%;
            }
            /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
            /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
        }
        
        .responsiveg {
            padding: 0 6px;
            margin: 6px 0;
            float: left;
            width: 20%;
            display: grid;
        }
        
        @media only screen and (max-width: 700px) {
            .responsiveg {
                width: 50%;
                margin: 6px 0;
                padding: 0 6px;
                display: grid;
                width: 33.33%;
            }
        }
        
        @media only screen and (max-width: 1200px) {
            .responsiveg {
                width: 50%;
                margin: 6px 0;
                padding: 0 6px;
                display: grid;
                width: 33.33%;
            }
        }
        
        @media only screen and (max-width: 500px) {
            .responsiveg {
                width: 50%;
                margin: 6px 0;
                padding: 0 6px;
                display: grid;
                width: 50%;
            }
            /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
            @media screen and (max-width: 700px) {
                .row {
                    flex-direction: column;
                }
            }
            /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
            @media screen and (max-width: 400px) {
                .navbar a {
                    float: none;
                    width: 100%;
                }
            }
        }
        
        .img {
            width: 100%;
        }
        
        .img.responsiveg {
            width: 100%;
            max-width: 400px;
            height: auto;
            align-items: center;
            display: inherit;
        }
        
        .accordion {
            transition: 0.4s;
        }
        
        .panel-accordion {
            padding: 0 18px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            text-align: center;
        }
        
        .post-info {
            list-style-type: none;
            margin-left: 10px;
            margin-right: 13px;
        }
        
        .img-post {
            margin-top: 1rem;
            margin-right: .3rem;
            flex-shrink: 0;
            border-radius: .25rem;
            vertical-align: top;
        }
        
        .text-post {
            margin-top: -.5rem;
            margin-bottom: 0rem;
            padding-bottom: 0rem;
            margin-bottom: 0;
            width: 100%;
        }
        
        .h-post {
            font-size: 18px;
            text-decoration: none;
            line-height: 1.2rem;
            font-weight: normal;
        }
        
        .hpost-span {
            margin-bottom: 2rem;
        }
        
        .hpost-span-text {
            font-size: 16px;
            text-decoration: none;
            line-height: 1
        }
        
        .a-post {
            font-size: 16px;
            color: black;
            font-weight: bold;
        }
        
        .containerOK {
            max-width: 1000px;
            margin: 0 auto;
            padding: 50px
        }
        /* small */
        
        @media (max-width:600px) {
            .containerOK {
                padding-top: 50px;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 50px;
            }
        }
        
        .filterDiv {
            display: none;
        }
        
        .show-filter {
            display: block;
        }
        
        .container-filter {
            overflow: hidden;
        }
        /* Style the buttons */
        
        .btn-filter {
            border: none;
            outline: none;
            padding: 6px 8px;
            cursor: pointer;
            font-size: 16px;
            color: #0a4461;
            background-color: white;
        }
        .cta {
            background: #F65D7C;
            color: #fff;
            padding: 15px;
            position: fixed;
            cursor: pointer;
            bottom: 0;
            width: 100%;
        }
        
        .cta.newsletter-attention {
            -webkit-animation: newsletter-attention 1s infinite;
            /* Safari 4+ */
            /* Fx 5+ */
            /* Opera 12+ */
            animation: newsletter-attention 1s infinite;
            /* IE 10+, Fx 29+ */
            -webkit-animation-delay: 8s;
            animation-delay: 8s;
            -webkit-animation-duration: 6s;
            animation-duration: 6s;
        }
        
        @-webkit-keyframes newsletter-attention {
            0% {
                padding: 15px;
                background: #F65D7C;
            }
            8% {
                padding: 15px;
                background: #F65D7C;
            }
            11% {
                padding: 25px 15px;
                background: #f8849b;
            }
            13% {
                padding: 10px;
                background: #F65D7C;
            }
            15% {
                padding: 15px;
                background: #F65D7C;
            }
            17% {
                padding: 12px;
                background: #F65D7C;
            }
            19% {
                padding: 15px;
                background: #F65D7C;
            }
            100% {
                padding: 15px;
            }
        }
        
        @keyframes newsletter-attention {
            0% {
                padding: 15px;
                background: #F65D7C;
            }
            8% {
                padding: 15px;
                background: #F65D7C;
            }
            11% {
                padding: 25px 15px;
                background: #f8849b;
            }
            13% {
                padding: 10px;
                background: #F65D7C;
            }
            15% {
                padding: 15px;
                background: #F65D7C;
            }
            17% {
                padding: 12px;
                background: #F65D7C;
            }
            19% {
                padding: 15px;
                background: #F65D7C;
            }
            100% {
                padding: 15px;
            }
        }
        