* {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

i.ion-navicon {
    position: absolute;
    top: -2px;
    right: 10px;
    font-size: 37px;
    color: #444;
}

.list-container {
    width: 620px;
    border-left: 5px solid rgb(255, 116, 116);
}

.list-item.list-title {
    font-weight: 600;
    color: #444;
    padding-left: 15px;
    font-size: 24px;
    padding-top: 6px;
    padding-bottom: 11px;
    margin-bottom: 8px;
    border-bottom: none;
    border-left: 35px solid rgb(255, 116, 116);
    cursor: default;
}

.list-item {
    padding: 16px 0px 18px 25px;
    border-bottom: 1px dotted #efefef;
    cursor: pointer;
}

.list-item.is-last {
    border: none;
}

.list-item.is-checked .list-item-title {
    color: #c0c0c0;
}

.list-item.is-checked .ion-checkmark-round {
    -webkit-transition-delay: 250ms;
    color: rgb(255, 116, 116);
    -webkit-animation-name: checkmark-bounce;
    -webkit-animation-duration: 750ms;
    -webkit-animation-delay: 200ms;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-iteration-count: 1;
}

@-webkit-keyframes checkmark-bounce {
    0% {
        -webkit-transform: scale(1);
    }
    7% {
        -webkit-transform: scale(1.45);
    }
    25% {
        -webkit-transform: scale(0.8);
    }
    65% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

.list-item.is-checked .list-item-title-strikethrough {
    display: block;
    -webkit-animation-name: strikethrough;
    -webkit-animation-duration: 200ms;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-iteration-count: 1;
}

@-webkit-keyframes strikethrough {
    0% {
        width: 0%;
        opacity 0;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}

.list-item-title {
    -webkit-transition: color 250ms ease;
    display: inline-block;
    position: relative;
}

.list-item-title-strikethrough {
    display: none;
    position: absolute;
    top: 10px;
    width: 100%;
    height: 2px;
    background-color: #444;
}

.list-item-check {
    float: left;
    margin-right: 10px;
}

i.ion-checkmark-round {
    -webkit-transition: color 250ms ease;
    position: relative;
    top: -2px;
    left: -7px;
    font-size: 20px;
    color: #e9e9e9;
}