:root {
  --size: 400px;
  --word-length: 6;
  --animation-duration: 2800ms;
  --animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --animation-iteration-count: infinite;
  --font-size: 8rem;
  --background: #afafaf;
  --shadow-color: #9a9a9a;
  --icon-size: 16px;
  --icon-animation-duration: 1800ms;
  --icon-animation-iteration-count: infinite;
  --icon-animation-timing-function: ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.icons {
  display: none;
}

.container {
  position: relative;
  width: var(--size);
  height: var(--size);
}
.container .text-container,
.container .shadow-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.container .text {
  position: absolute;
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--font-size);
  font-family: "Montserrat";
  font-weight: 900;
  user-select: none;
  pointer-events: none;
}
.container .text .char {
  text-transform: uppercase;
  margin: 0 4px;
}
.container .text-container:not(.shadow-container) .char {
  -webkit-text-stroke: 1px #000;
}
.container .text-container .text .char-container {
  position: relative;
  color: var(--color);
  width: 100%;
  width: 100%;
  animation-name: text-animation;
  animation-duration: var(--animation-duration);
  animation-iteration-count: var(--animation-iteration-count);
  animation-timing-function: var(--animation-timing-function);
  transform-origin: left bottom;
  margin: -1.5rem 0;
}
.container .text-container .text .char-container:nth-child(1) {
  animation-delay: calc(var(--delay) + (0.1s * 1));
}
.container .text-container .text .char-container:nth-child(2) {
  animation-delay: calc(var(--delay) + (0.1s * 2));
}
.container .text-container .text .char-container:nth-child(3) {
  animation-delay: calc(var(--delay) + (0.1s * 3));
}
.container .text-container .text .char-container:nth-child(4) {
  animation-delay: calc(var(--delay) + (0.1s * 4));
}
.container .text-container .text .char-container:nth-child(5) {
  animation-delay: calc(var(--delay) + (0.1s * 5));
}
.container .text-container .text .char-container svg.icon {
  position: absolute;
  width: var(--icon-size);
  height: var(--icon-size);
  fill: #fff;
  stroke: #000;
  stroke-width: 15px;
  transform: translate(-50%, -50%);
  animation-name: scale-up-down;
  animation-duration: var(--icon-animation-duration);
  animation-iteration-count: var(--icon-animation-iteration-count);
  animation-timing-function: var(--icon-animation-timing-function);
  animation-delay: var(--icon-animation-delay);
  z-index: 10;
}
.container .text-container .text .char-container:nth-child(1) svg.icon {
  left: 5%;
  top: 40%;
}
.container .text-container .text .char-container:nth-child(3) svg.icon {
  left: 33%;
  top: 65%;
}
.container .text-container .text .char-container:nth-child(5) svg.icon {
  left: 5%;
  top: 50%;
}
.container .shadow-container {
  margin-top: calc(-1 * (var(--size) - 8px));
  margin-left: 8px;
  z-index: -1;
}
.container .shadow-container .text {
  color: var(--shadow-color);
}
.container .shadow-container .text .char-container svg.icon {
  fill: var(--shadow-color);
  stroke: transparent;
}

@keyframes text-animation {
  0%, 20% {
    transform: translateX(0%) rotate(0deg);
  }
  50%, 52% {
    transform: translateX(100%) rotate(15deg);
  }
  80% {
    transform: translateX(-10%) rotate(-5deg);
  }
  100% {
    transform: translateX(0%) rotate(0deg);
  }
}
@keyframes scale-up-down {
  0% {
    transform: translate(-50%, -50%) scale(1) rotate(0);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.5) rotate(90deg);
  }
  100% {
    transform: translate(-50%, -50%) scale(1) rotate(180deg);
  }
}
.support {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
}
.support a {
  margin: 0 10px;
  color: #333333;
  font-size: 1.8rem;
  backface-visibility: hidden;
  transition: all 150ms ease;
}
.support a:hover {
  transform: scale3d(1.1);
}