#diamond2 {
    width: 20px;
    height: auto;
}

#poly1 {
    -webkit-animation: mycolor1 3s infinite;
    /* Safari 4.0 - 8.0 */
    animation: mycolor1 3s infinite;
}

#poly2 {
    -webkit-animation: mycolor2 3s infinite;
    /* Safari 4.0 - 8.0 */
    animation: mycolor2 3s infinite;
}

#poly3 {
    -webkit-animation: mycolor3 3s infinite;
    /* Safari 4.0 - 8.0 */
    animation: mycolor3 3s infinite;
}

#poly4 {
    -webkit-animation: mycolor4 3s infinite;
    /* Safari 4.0 - 8.0 */
    animation: mycolor4 3s infinite;
}

#poly5 {
    -webkit-animation: mycolor5 3s infinite;
    /* Safari 4.0 - 8.0 */
    animation: mycolor5 3s infinite;
}

#poly6 {
    -webkit-animation: mycolor6 3s infinite;
    /* Safari 4.0 - 8.0 */
    animation: mycolor6 3s infinite;
}


/* Standard syntax */

@keyframes mycolor1 {
    33% {
        fill: #e8f6f9;
    }
    63% {
        fill: #e8f6f9;
    }
    93% {
        fill: #c2ecfa;
    }
}

@keyframes mycolor2 {
    33% {
        fill: #c2ecfa;
    }
    63% {
        fill: #54cdfa;
    }
    93% {
        fill: #00adef;
    }
}

@keyframes mycolor3 {
    33% {
        fill: #c2ecfa;
    }
    63% {
        fill: #e8f6f9;
    }
    93% {
        fill: #e8f6f9;
    }
}

@keyframes mycolor4 {
    33% {
        fill: #00adef;
    }
    63% {
        fill: #c2ecfa;
    }
    93% {
        fill: #54cdfa;
    }
}

@keyframes mycolor5 {
    33% {
        fill: #e8f6f9;
    }
    63% {
        fill: #c2ecfa;
    }
    93% {
        fill: #e8f6f9;
    }
}

@keyframes mycolor6 {
    33% {
        fill: #54cdfa;
    }
    63% {
        fill: #00adef;
    }
    93% {
        fill: #c2ecfa;
    }
}