* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fad0c4;
    background-image: linear-gradient(315deg, #fad0c4 0%, #f1a7f1 74%);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

button {
    width: 100px;
    height: 50px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 500ms;
}

button svg {
    position: absolute;
    fill: white;
    width: 20px;
    height: 20px;
    transform: translateX(20px);
    transition: 1s;
}

button span {
    position: absolute;
    transform: translateX(-20px);
    transition: 1s;
}

button:focus {
    outline: none;
}

button:focus svg {
    transform: translateX(30px) translateY(-10px);
    width: 0px;
    height: 0px;
}

button:focus span {
    transform: translateX(0);
}